.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title_container{
  margin-bottom: 16px;
  font-size: 20px;
  color: rgb(53, 53, 53);
}

.title{
  font-size: 44px;
  line-height: 0.5rem;
  color: black;
}

a{
  text-decoration: none;
}

.button_cv{
  background-color: black;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 22px;
  font-weight: 600;
  border: 0px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.portfolio_link_container{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 8px;
}

.portfolio_link{
  color: black;
  font-weight: 500;
}